@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100..900&display=swap');

@import "tailwindcss";

* {
  font-family: 'Inter Tight', sans-serif;
}


@theme {
  --color-primary: #00ccff;
  --color-primary-dull: #0088cc;
  --color-light: #F1F5F9;
  --color-borderColor: #00ffcc;
}

/* Dans ton fichier CSS global */
@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}


